{% extends 'layout.html.twig' %}

{% block title %}MyBusiness{% endblock %}

{% block content %}
    <ul>
        <li>
            <strong>Token</strong> : {{ token }}
        </li>
    </ul>
{% endblock %}
