{% extends 'base.html.twig' %}

{% block body %}
    {% include 'sidebar.html.twig' %}
    <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
        {% include 'header.html.twig' %}
        {% block content '' %}
    </div>

{% endblock %}

{% block title %}Dashboard{% endblock %}
